
header{
    background: url('../../assets/wood-left.png'), url('../../assets/wood-right.png');
    opacity: 0.8;
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    max-width: 1400px;
    height: 650px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    h1{
        padding-top: 20px;
        @media screen and (min-width:800px) {
            padding-top: 70px;
            font-size: 6rem;
        }
    }

}
